[2020-04-03 13:47] fjvalles opened #1 "Default value"
Hi! How can I set a default value for the field? I could not find a way to do this, thanks!

[2020-04-03 14:03] fjvalles commented on #1
I found it, is the placeholder lol :)

[2020-04-03 14:03] #1 closed

[2020-07-08 15:15] RuddyReisberg opened #3 "Zindex error for this component"
Hello,

I want to see myCompnentReactSearchAutocomplete in my front but it is blocked by an other.
Please, see the join.

Thanks you very much
![file2](https://user-images.githubusercontent.com/59610535/86936718-aa72ba00-c13e-11ea-8df0-8e41ccc52aac.png)
![file1](https://user-images.githubusercontent.com/59610535/86936720-ab0b5080-c13e-11ea-9131-115ea90a7543.png)

[2020-07-13 00:31] sickdyd commented on #3
Hello RuddyReisberg,

apologies for the late reply. Could you provide an example on CodeSandBox or similar? https://codesandbox.io

The first thing I would try is to wrap the search boxes in a `<div>` with increasing z-index. Something like:

[code]

Let me know if this helps!

[2020-10-09 11:54] MorpheusFT opened #6 "It seems to completely ignore ignoreLocation=true"
The results it returns are only exact matches from the start of the strings.

search.ts
[code]
some_component.tsx
[code]

[2020-12-31 10:30] sickdyd commented on #6
The previous dependency for Fuse.js was `3.6.1`, a pretty old one.I updated the dependency and now it's using the latest version `6.4.4`. This should solve your issue.

[2020-12-31 10:30] #3 closed

[2020-12-31 10:31] #6 closed

[2021-01-04 21:32] revl94 opened #7 "If change keys props dont work"
const fuseOptions = {

        useExtendedSearch: true,
        keys: [
            'title'
        ]
      }

I try to do that and dont work for me... plis help!``

            `<div style={{ minWidth: 400 }}>
                                <ReactSearchAutocomplete
                                    fuseOptions={ fuseOptions }
                                    items={data}

[2021-01-09 05:43] sickdyd commented on #7
@revl94 I'm looking into it right now. I will reply as soon as I have a fix for this.

[2021-01-09 08:01] sickdyd commented on #7
@revl94 I made an update, the latest version is now `2.0.4`.

To fix your issue:
1. update `react-search-autocomplete` to the version `2.0.4`
2. pass `resultStringKeyName="title"` as a prop

You can find a complete example in the [demo](https://sickdyd.github.io/react-search-autocomplete-demo/) - [source code](https://github.com/sickdyd/react-search-autocomplete-demo)

From the updated docs:
[code

[2021-01-11 22:35] revl94 commented on #7
Thank you! works perfectly!! 👍 :)

[2021-01-12 02:41] #7 closed

[2021-01-14 11:00] abDevII opened #8 "Question about Key Down Event Listener"
Hello @sickdyd !

First, I'd like to thank you very much for this great component that I love !

I'm new to development, so it would probably sound like a silly question, but please:

**how to access the filtered list of results pressing the down key ?**

I think I've understood there's an array called "results" which contains this filtered list but I cannot figure out how to access it.

If I knew

[2021-01-14 11:17] sickdyd commented on #8
Hello @abDevil,

right now it's not possible to access the whole list of results, but only the item the user clicked (`handleOnSearch` on the demo). Implementing this feature should not be too hard though, so I'm looking into it.

The keyboard support is something that is not implemented as well yet, and could take some time before it's ready.

I will keep you posted on the progress.

[2021-01-14 13:20] abDevII commented on #8
@sickdyd, awesome ! 🤩 Thanks a lot !

[2021-01-17 04:25] sickdyd commented on #8
Hello @abDevII,

I updated the search box to the version `3.0.0`. Now `onSearch` will have the `keyword` and `results` as callback parameters. This will give you access to the results as the user types characters.

Let me know if this helps fixing part of you issue.

[2021-01-18 01:05] PedroLimaSilva opened #9 "The default styles add a CSS rule to change the page font to Arial"
When this library is added to a project, its css rules affect elements that are not children of the autocomplete component.

Currently, it adds a rule with a `*` selector with font rules which will change the font to arial in most scenarios. Usually font rules are defined in the root element (using an `html` or `body` selector) and inherited to its children.
If you want to use a certain font-famil

[2021-01-18 10:59] sickdyd commented on #9
Hello @PedroLimaSilva,

I could not understand your request: could you reformulate it?

Thanks.

[2021-01-18 17:02] abDevII commented on #8
Hello @sickdyd,

Great! I'm digging into this and let you know as soon as I can.

Again, thanks a lot !

[2021-01-20 18:01] abDevII commented on #8
Hello @sickdyd,

🎉 I confirm I can now:

- browse the filtered list with the up/down key
- select an item pressing the enter key

Thanks a lot !

Unfortunately, I please need some extra help to style the results lines while browsing them.

I've thought about using querySelector to add style on the li element corresponding to its object within the results array.

It looks like this :

document.quer

[2021-01-21 23:15] PedroLimaSilva commented on #9
I'm sorry, I've updated the issue description

[2021-01-24 02:58] sickdyd commented on #9
Hello @PedroLimaSilva,

Thank you for your report! I updated `RSA` to `v4.0.0` and now the global styles have been removed. I also updated the [demo](https://sickdyd.github.io/react-search-autocomplete-demo/) where you can see the update in action (check the last example).

[2021-01-24 04:44] PedroLimaSilva commented on #9
That's great 😁
Btw, looking at your change, I'm unsure if you shouldn't include the box-sizing rule inside your component. Someone might be using box-sizing as content-box and throw your sizing out of wack.
Again, I'm unsure about this since it's only relevant if you include your paddings in your size rules, but something to think about.

[2021-01-24 04:44] #9 closed

[2021-01-24 07:10] sickdyd commented on #8
Hello @abDevII,

Can you post an example on [codesandbox](https://codesandbox.io/) with the code you are using? It's going to make it easier for me to understand why it's not working.

[2021-01-24 15:27] sickdyd commented on #8
Hello again @abDevII,

After fixing a bunch of bugs on RSA, I published the version `5.0.2`. I believe some of the issues you were having were related to some of those bugs.

Anyway, I created [an example on codesandbox](https://codesandbox.io/s/dank-fast-pwp1b?file=/src/App.js) where I apply a class `my-style` to a specific `li` element. To see it in action search for "JavaScript": it will add th

[2021-01-28 18:00] abDevII commented on #8
Hello @sickdyd,

Sorry for my late answer, it works ! 😍 Thanks a lot !

I still get some warnings about RSA:

![RSA-Warnings](https://user-images.githubusercontent.com/71597345/106177164-74f3f380-6198-11eb-841b-fba3b1e2bca9.JPG)

I believe it is due to the dataset - that I'm using and which is provided by an API - which does not include any id.

![API-Dataset](https://user-images.githubusercontent

[2021-02-18 13:04] johnnyboi91 commented on #8
You could do something like:
[code]
so in your case, let's say that 'figi' is unique (per item), it would be:
[code]

Hope this helps

[2021-02-18 22:28] amaioru0 opened #10 "API call after onSearch"
Hi there,

Thank you for this amazing component!

In my handleOnSearch function I make an API request to get results based on the user input. However, the results that are shown are from the previous API call so I am wondering if there is a way to first make the API call and then show the results only after I updated the data.

Something like beforeSearch would be amazing 🥇

Thanks

[2021-02-19 10:33] abDevII commented on #8
Yes indeed! I should have thought about this ... Thank you very much @johnnyboi91 !

[2021-02-19 10:33] #8 closed

[2021-02-20 15:27] sickdyd commented on #10
Hello @amaioru0,

I updated the package to version `5.0.3`, now if the `items` change, the results will be updated as well. I built a little demo in codesandbox: https://codesandbox.io/s/nifty-frost-7gurg?file=/src/App.js

I added a fake fetch request `onSearch` that takes 1 second to complete (to mock an API request). Once the request has completed, you will see the updated search results in the

[2021-02-21 11:11] amaioru0 commented on #10
Hi @sickdyd,

Thank you so much for resolving this issue. It's working perfect now!

Regarding the loading state, I think it would be cool to have a loading indicator at the end of the input in the right side. A little circle that indicates the loading state but still display old results while loading and the ability to pass in a custom component for the loader that is displayed in the right side

[2021-02-22 09:54] sickdyd commented on #10
Hello @amaioru0,

The idea of the loader seems nice! I'll try to implement it as soon as I have the chance.

I noticed now that my fix introduces the issue you are talking about while typing. I will try to sort it out ASAP.

Thanks for letting me know!

[2021-02-23 12:06] sickdyd commented on #10
Hello @amaioru0,

One quick fix is to set `inputDebounce` to `500`. This solved the issue in my codesandbox demo at least. Maybe you can try to play around with this prop and see if it helps, in the meantime I'm trying to figure out a better fix.

[2021-02-24 19:09] amaioru0 commented on #10
Hi @sickdyd,

Thanks for your reply.

inputDebounce 500 seems to make it work a bit better but the issue is still present.

Thank you again for all of this!

[2021-02-25 02:23] amaioru0 commented on #10
Hi @sickdyd,

I am wondering, would it be possible to add something like onHoveResult that would allow me to know which item is selected the user is hovering over.

Also would it be possible to have the option for the input value to have a default text value, pass a object item that contains name which would be used as the default text value for the input?

It would allow me to do some really cool

[2021-02-28 15:17] emeldincer opened #11 "Default value problem"
How can I add default value?

[2021-03-09 12:38] alexxgarci opened #12 "Allow hiding search icon in results list"
Can you add an easy way to hide the search icon in the search results please?

[2021-03-09 12:39] #12 closed

[2021-04-02 01:07] sickdyd commented on #11
@emeldincer Hello, you might want to use the `placeholder` prop.

[code]

[2021-04-16 06:55] jonathanni opened #13 "Updating `items` prop causes search list to pop up (after item selected)"
I'm not sure this is supposed to happen. Suppose I had a simple component:

[code]

The first time `items` is set on the component, the search suggestions don't pop up unless we focus on the component, which is expected behavior. But once we select an item and wait for 10 seconds, the callback to refresh the data fires, `items` is re-set, and the search suggestions pop up again.

![](https://i.img

[2021-04-22 15:14] jamintz opened #14 "Component styling affects other components"
Trying to add this to my site but the default styling it comes with is overriding and negatively affecting my existing styling. I'm using material-ui for other elements and styles.

[2021-04-25 10:41] #11 closed

[2021-04-25 11:16] sickdyd commented on #13
Hallo @jonathanni! Thank you for reporting this issue. I fixed the issue in the release `5.0.4`. Check out the codesandbox:

https://codesandbox.io/s/runtime-pond-w77zk?file=/src/App.js

[2021-04-25 11:19] sickdyd commented on #14
Hello @jamintz! What version are you using? This bug should have been fixed in version `4.0.0`. [This was the issue.](https://github.com/sickdyd/react-search-autocomplete/issues/9). If you are using a prior version, try updating it. If you are using the latest version, can you create a [codesandbox](https://codesandbox.io/) with an example?

[2021-04-29 04:44] jonathanni commented on #13
This looks great, updated the package on my end and we don't have issues anymore. Thank you for resolving this issue!

[2021-04-29 04:44] #13 closed

[2021-04-29 12:37] sickdyd commented on #10
Hello @amaioru0!

Sorry for the long wait. I deployed the version `5.0.8` today, and this will fix the issue you were noticing while typing. You can see a working example in this codesandbox: https://codesandbox.io/s/nifty-frost-7gurg?file=/src/App.js

For the other requests give me more time to think about it.

[2021-04-30 03:35] SandhyaLingolu opened #15 "clearable icon for search input"
Do we have option to show or hide clearable cross icon for search input ?

[2021-04-30 21:05] kevingoenadibrata opened #16 "placeholderColor cannot be changed"
I saw in the docs that the default value for placeholderColor is set to 'grey'. I wanted to change the color of the placeholder so I added a prop to the component. I added this code in `styling={{placeholderColor: "#ffffff"}}`
and apparently, it is still showing a grey color for the placeholder.

[2021-05-01 01:35] sickdyd commented on #16
@kevingoenadibrata Hello! I fixed the issue in the release `5.0.9`.

Checkout the sandbox with a working example: https://codesandbox.io/s/peaceful-voice-1ludg?file=/src/App.js

[2021-05-01 01:45] kevingoenadibrata commented on #16
Awesome! Tried in my code, it works! Thanks

[2021-05-01 01:45] #16 closed

[2021-05-01 06:48] sickdyd commented on #15
Hello @SandhyaLingolu!

I added the feature in the version `5.1.0`, checkout the demo to see it in action: https://sickdyd.github.io/react-search-autocomplete/

[2021-05-01 06:48] sickdyd commented on #10
Hello @amaioru0!

I added the `onHover` prop that will display the result the user is hovering. Checkout the demo to see it in action:
https://sickdyd.github.io/react-search-autocomplete/

[2021-05-03 15:26] aknegtel opened #17 "Handler for empty search"
Hello,

I'm loving the component, but am facing a problem. When I clear the search input, ergo have an empty string, the search callback doesn't trigger, so I can't seem to clear the search.

Is there perhaps any callback when the search clears that I'm missing?

Thanks

[2021-05-03 15:51] aknegtel commented on #17
There also doesn't seem to be a way to access the value of the search input, to change it programatically. For example, I have a clear all filters that would need to clear the input, but I can't.

[2021-05-04 04:53] sickdyd commented on #17
@aknegtel I'm looking into it right now. Will post here as soon as I added the features!

[2021-05-04 06:37] sickdyd commented on #17
Hello @aknegtel!

I added the feature you need in the version `5.2.2`. Checkout this sandbox for an example:
https://codesandbox.io/s/distracted-fermat-zo6r8?file=/src/App.js

Let me know if this solves your issue.

[2021-05-04 07:39] aknegtel commented on #17
Hi @sickdyd!

That was fast! It certainly solves the issue of the clearing with the clear button and the programmatic clearing, thanks!

The thing that still doesn't work like I expected is that if you write something and then gradually erase the onSearch gets called every time but the last one.

I added an image with the example, if you type Java and then erase it until you have an empty string,

[2021-05-04 08:52] aknegtel commented on #17
I solved the behaviour in my site by setting `fuseOptions={{
    minMatchCharLength: 2,
  }}` and adding some logic to my filter so it returns every item when only one letter is in the input.

[2021-05-04 08:52] #17 closed

[2021-05-09 11:06] madaher-dev opened #18 "Encountered two children with the same key Warning"
Hello,
Thank you for the great component and features. I am trying to search an array that has a name field with duplicates (unique by an _id field)
I want the search to list the duplicates but i am getting the following Warning. Is it something wrong i am implementing or the component does not support duplicates in the name key?

Warning: Encountered two children with the same key, `rsa-result-un

[2021-05-09 11:17] sickdyd commented on #18
Hello @madaher-dev!

The unique field must be `id` and not `_id`. The elements of the array you pass to the component doesn't have the `id` field, so it's alaways `undefined`, therefore you get the warning.

I suppose you are using a MongoDB array of documents. You can re-map them by doing something like:

[code]

Let me know if this fixes your issue.

[2021-05-09 11:23] madaher-dev commented on #18
Perfect will do and confirm. Thank you for the quick response. Any plans to add the feature of defining a React component as a result?

[2021-05-09 11:26] sickdyd commented on #18
@madaher-dev You're welcome!

About your question: you mean having a list of components in the list of results rather than just text?

[2021-05-09 11:28] madaher-dev commented on #18
I can confirm that this solved the issue.
Yes, a great example is the twitter search (web). You type a user name and in the results you get a component (i assume) with the user photo , name, and handler. This would be so cool!

[2021-05-09 11:28] sickdyd commented on #18
@madaher-dev Sounds like a nice idea. I'll think about it! 🦖

[2021-05-09 14:21] madaher-dev commented on #10
I think the component still takes the previous values.
In my scenario i am calling an external API with onSearch which populates a Redux state. When i search for "Test" the component looks for Test in key of the items in the state. This causes an issue when you quickly type a long string. I will post my code below:

const SearchBar = ({ getUsers, users }) => {

  const handleOnSearch = (string) =>

[2021-05-10 16:05] Nour281198 opened #19 "Search list display horizontally"
Hello,

First of all thank you for this wonderful component and for your responsiveness to the issues!

I am trying to use your component in my project. It seems to work perfectly but I have a problem with the results list that i don't understand : It it unfolds horizontally (on one single line) unlike in the demo, and I can't find any prop that can change this.
Have I done something wrong?

I don

[2021-05-11 00:26] #18 closed

[2021-05-12 18:26] Nour281198 commented on #19
Hello again!

I am closing this issue because I finally found the problem and could resolve it.
It was not linked to your component, I apologise for the inconvenience (the problem was a `display : flex` CSS line that my project partner applied to all the `ul`  DOM elements and that I wasn't aware of :) )

Thank you again for this great component and for your replies !

[2021-05-12 18:26] #19 closed

[2021-05-15 02:40] lindaerin opened #20 "Setting value of searchInput or clear input field without clear icon"
How can I manually set the value of the searchInput field with inputSearchString? I have a placeholder value and onSelect event handler but want to clear input field when my onChange handler for my dropdown component is fired. It is not letting me do that with inputSearchString.  I essentially want to be able to clear the input field without pressing the clear icon

[2021-05-16 04:31] sickdyd commented on #20
@lindaerin Hello!

You might want to take a look at this issue: https://github.com/sickdyd/react-search-autocomplete/issues/17

Codesandbox: https://codesandbox.io/s/distracted-fermat-zo6r8?file=/src/App.js

Let me know if it fixes your problem.

[2021-06-17 07:25] rohail111 opened #23 "Clearing Text on firing onSelect Event"
1. I want to clear my input text automatically when I select a value from the dropdown.
2. Is there any way to give reference to this component or can we get the data by giving it Id and then get it by document.getElementbyId event?
Kindly help I am stuck in it.

[2021-06-29 12:35] sickdyd commented on #23
@rohail111 Hello!

You might want to take a look at this issue: https://github.com/sickdyd/react-search-autocomplete/issues/17

Codesandbox: https://codesandbox.io/s/distracted-fermat-zo6r8?file=/src/App.js

Let me know if it fixes your problem.

[2021-07-23 20:35] alamtopan opened #24 "How can set default value in autocomplete ?"
How can set default value in autocomplete ?

on collection data
data = [
 {id: 0, name: 'alam'},
 {id: 1, name: 'edit'},
 {id: 3 name: 'asa'}
]

i want set default, with id = 0 or name alam ? its posible or not without selected first.

[2021-07-26 01:37] sickdyd commented on #24
@alamtopan Hello!

You might want to take a look at this issue: https://github.com/sickdyd/react-search-autocomplete/issues/17

Codesandbox: https://codesandbox.io/s/distracted-fermat-zo6r8?file=/src/App.js

Let me know if it fixes your problem.

[2021-07-28 05:46] tahaamiri opened #25 "how to set the search result to input background with silver color to suggest user complete it? like google drive search input"

[2021-07-29 02:50] vividrizwan opened #26 "How to add Arrow key navigation to navigate to the results."
How to add Arrow key navigation to navigate to the results.

[2021-07-30 08:10] clasnake commented on #26
+1 same question here.

[2021-07-30 10:07] clasnake opened #27 "How to trigger onSearch event when emptying all the text in the search box?"
Currently looks like the onSearch callback is not triggered when emptying all the text by using backspace (instead of triggering the onClear) in the search box. Is it able to allow that to be configurable? Thanks.

[2021-07-30 10:12] clasnake commented on #27
Found the onClear config. Close this issue. Thanks.

[2021-07-30 20:08] minhok1 opened #28 "How to auto hover over the first result?"
Hey this library's really great!

Just a question though - how can I make the first result highlighted by default so that when I press enter, that result gets selected automatically? I'd also like to navigate using arrow keys, so similar issue here as #26 as well.

Thanks!

[2021-08-09 02:58] taixe opened #29 "How to overlay a component result 'react-search-autocomplete' on top of another component's element?"
Hi everybody?
How to overlay a component result 'react-search-autocomplete' on top of another component's element?
I get a error .
<img width="603" alt="Screen Shot 2021-08-09 at 09 55 20" src="https://user-images.githubusercontent.com/60805385/128656109-247da593-1151-4d9e-b93b-f888c37230f4.png">

[2021-08-09 04:05] sickdyd commented on #26
@vividrizwan @clasnake Hello!
I have not yet implemented this feature, so for now it's not possible to navigate with arrow keys.

I will add it to the list of features to implement.

Thanks for your feedback.

[2021-08-09 04:10] sickdyd commented on #28
Hello @minhok1,

the arrow keys navigation is not yet implemented. It can take some work to pull off, but I've added it to my todo list. So for now highlighting the first result and selecting it with return is not available. I will keep you posted.

[2021-08-09 04:15] sickdyd commented on #29
Hello @taixe,

I think that the problems is related to the `z-index` of the image/component below. What you can do is use a higher `zIndex` for the search component by passing the `styling` prop with `zIndex`.

In the example below I'm using `9999` but it's possible that the component covering the search box has a higher value, so you might want to figure out what's that value or increase `zIndex`

[2021-08-09 04:20] taixe commented on #29
Thank @sickdyd . The problems clear with zIndex.

[2021-08-09 04:24] sickdyd commented on #25
Hello @tahaamiri,

if you look at the last example in the demo (with green colors) you can see that I set a green background. You can take a look at it to see how it works, but basically you just have to use the `styling` prop and pass `hoverBackgroundColor` with the color you want.

[code]

[2021-08-09 04:24] taixe opened #30 "Function formatResult only return one field, how to get full data from this"
How to I can get full objet data  in this function. it only return item is name. I want to get  full data item = {name:"", image:"abc", etc...}
const formatResult = (item) => {
    return item;
   // return (<p dangerouslySetInnerHTML={{__html: '<strong>'+item+'</strong>'}}></p>); //To format result as html
  }

[2021-08-09 04:43] sickdyd commented on #30
@taixe For that you need to use `onSearch` and not `formatResult`. `onSearch` will return the full object, `formatResult` is used only to format the string in the results list.

[2021-08-09 04:46] taixe commented on #30
hi @sickdyd . But I want to use formatResult to format data cell, show name, price, image ...

[2021-08-09 04:49] sickdyd commented on #30
@taixe This can't be done now, but it seems easy to change. You can fork the repo and change this:

[code]

to:
[code]

In `Results.js`, and you should get the full result in the callback.

[2021-08-09 04:50] taixe commented on #30
yea, thank @sickdyd

[2021-08-09 10:00] #29 closed

[2021-08-09 10:00] #30 closed

[2021-08-17 14:36] guilhermeccrz opened #32 "How to test using testing library"
I cant select the result using testing library :|

[2021-08-18 13:28] leoleung0102 opened #33 "How to detect empty input?"
Hello, I am using this library for handling autocomplete, but I would like to disable the search button when no input, but I find out when there is no input , it will not trigger handleOnSearch. Any solution? Thanks

[2021-08-18 16:10] pcatach commented on #10
I am also making an API request in `handleOnSearch`. Then I use the results of the API request to populate `items`. The desired behaviour would be the available items in the `items` array changing as the user types into the search box.

The problem I had was that the first call to `handleOnSearch` always resulted in an empty array of results. It only updated after the second call.

I might be wron

[2021-08-24 04:04] imdkbj opened #35 "Add mic button"
Hi, thnx for the beautiful library.

Kindly add a mic button and expected behaviour like as Google or expose a method to add a custom component.

[2021-08-25 16:36] Eclipseop opened #36 "Types"
Is there currently / will there be an effort to convert to typescript / adding a .d.ts?

[2021-08-26 19:00] imdkbj opened #37 "RTL Support"
Hey, I will be quite good to have RTL support as currently in RTL mode, margin are narrowed down.

![image](https://user-images.githubusercontent.com/46839821/131020758-5a099cd6-b2d7-46fb-b8e4-36987b204403.png)

[2021-08-26 19:17] hoanghuychh opened #38 "How to trigger event pressing Enter key on search"
Hi I'm using ur package but I can't handle the event press enter key, Do you have any suggestions for me?

[2021-08-27 07:32] #37 closed, assigned to nobody

[2021-08-28 02:14] sickdyd commented on #32
@guilhermeccrz Hello! Can you please post a codebox example of the test you are trying to run?

[2021-08-28 02:15] sickdyd commented on #33
@leoleung0102 Hello! Please take a look at[ this issue](https://github.com/sickdyd/react-search-autocomplete/issues/17), it seems that it was solved there. Let me know if it does not help.

[2021-08-28 02:17] sickdyd commented on #35
@imdkbj Hello! What do you mean with "mic button"? Can you show me a screenshot?

[2021-08-28 02:18] sickdyd commented on #36
@Eclipseop Hello! Definitiely it's in my plans. Right now I'm kind of busy with work so I don't have a date for this, but it's something I wanted to implement for a long time...

[2021-08-28 02:18] sickdyd commented on #38
@hoanghuychh Hello! I need more context: what are you trying to achieve?

[2021-08-28 02:19] sickdyd commented on #27
@clasnake Hello! Try to look into this issue if it helps: https://github.com/sickdyd/react-search-autocomplete/issues/17

Please let me know if not.

[2021-08-28 04:22] imdkbj commented on #35
Hey, mic to search by voice.

![IMG_20210828_095228.jpg](https://user-images.githubusercontent.com/46839821/131205973-b77728f5-9e87-473f-8003-abac62cac755.jpg)

[2021-08-28 05:51] sank2000 commented on #23
it fixed my issue

[2021-08-28 08:02] sickdyd commented on #35
@imdkbj Apologies, for the time being the search by voice feature is not going to be implemented since it would entail adding voice to text conversion libraries and I suspect a lot of extra work. Even adding just a component is not going to be easy, it would require a way to return the voice converted to text and "type" it in the search box... feel free to open a PR if you think you can do it!

If

[2021-08-28 08:45] imdkbj commented on #35
Thanks buddy for the reply. I will try to create a PR.

[2021-08-28 19:01] hoanghuychh commented on #38
@sickdyd  Thank you for your reply, I want to press Enter key to do a search action and can I do it, like the bar search's google?

[2021-08-29 07:34] rughaanimskhan commented on #24
Hey @alamtopan,

Unable to set default value on load, can you please help me for this issue?

[2021-08-29 07:59] sickdyd commented on #38
@hoanghuychh I think you mean to use the `onSearch` callback. Please check the [readme file](https://github.com/sickdyd/react-search-autocomplete/blob/master/README.md) for more.

[2021-08-29 08:09] sickdyd commented on #10
@pcatach Yes, the idea was to have a static array of `items`. So what is your API request doing? Is that already a search?

[2021-08-29 08:11] sickdyd commented on #15
Close because solved in version 5.1.0

[2021-08-29 08:11] #15 closed

[2021-08-29 08:11] sickdyd commented on #14
Closed because solved in version `4.0.0`

[2021-08-29 08:11] #14 closed

[2021-08-29 08:13] sickdyd commented on #25
Closing because solvable with `styling` prop

[2021-08-29 08:13] #25 closed

[2021-08-29 10:06] hoanghuychh commented on #38
Yes I used it but the `onSearch` can't get keydown `Enter` event or any `onKeyDown` :((

[2021-08-29 10:26] sickdyd commented on #38
@hoanghuychh Ah, now I understand: you want to know what key has been pressed. There is no way to do it right now. Can you tell me why you want to know which key has been pressed?

This PR is implementing arrow key navigation so it might help you out: https://github.com/sickdyd/react-search-autocomplete/pull/34

[2021-08-31 21:43] pcatach commented on #10
@sickdyd  correct, the API request returns the results of a search. I understand that's not exactly the intention for this component

[2021-09-12 19:36] Alex-Licea commented on #38
Hi!

I tried to achieve the same behaviour. My solution was to wrap the autocomplete in a <form> with a onSubmit callback and store the input value in a state which is updated every onSearch call.

When you press “return” key, use the onSubmit callback to use your stored input value.

[2021-10-04 14:21] Tushar-Yadav-TCPL opened #40 "Error while setting z-index in styling property"
Below error is thrown when wanted to set z-index property in styling

Module not found: Can't resolve 'html2canvas/dist/types/css/property-descriptors/z-index'

[2021-10-14 10:30] Chinmaypattar opened #41 "How to show Message if related data not found"
How to show a error message like "No Data Found" ,when we didn't get the any value

[2021-11-01 23:24] #20 closed

[2021-11-13 04:48] bharath2612 commented on #24
yes, how to set default value of input on load, please help :)

[2021-11-18 13:31] bharath2612 opened #42 "how to save values in usestate which are not present in the list."

[2021-11-20 23:32] sickdyd commented on #42
@bharath2612 Please add more details to your request.

[2021-11-20 23:33] sickdyd commented on #41
@Chinmaypattar This sounds like a new feature. I'll try to add it when I have the time.

[2021-11-20 23:40] sickdyd commented on #10
I will close this issue since the component is not designed to populate results after a search done with an API request, but rather to search through a static list of elements. It wouldn't make sense to search twice (once with the API request and once in the component) on the same list.

[2021-11-20 23:40] #10 closed

[2021-11-20 23:40] sickdyd commented on #23
Close because fixed 🚀

[2021-11-20 23:40] #23 closed

[2021-11-20 23:41] sickdyd commented on #26
FYI: there's an open PR for this: https://github.com/sickdyd/react-search-autocomplete/pull/34

[2021-11-20 23:42] sickdyd commented on #27
Closed because fixed ⭐

[2021-11-20 23:42] #27 closed

[2021-11-20 23:43] sickdyd commented on #33
Closed because of no reply and potentially solved in another issue.

[2021-11-20 23:43] #33 closed

[2021-11-20 23:43] sickdyd commented on #32
Closed because no reply.

[2021-11-20 23:43] #32 closed

[2021-11-20 23:44] sickdyd commented on #35
Issue closed because the feature entails too much work and doesn't seem like a popular request.

[2021-11-20 23:44] #35 closed

[2021-11-20 23:45] sickdyd commented on #36
Closed and added request to todo list.

[2021-11-20 23:45] #36 closed

[2021-11-21 08:18] sickdyd commented on #24
@rughaanimskhan @bharath2612 You can use the `inputSearchString` to set a default value:

[code]

[2021-11-21 08:20] sickdyd commented on #38
@Alex-Licea Thank you, that seems like a good solution for this issue.

[2021-11-21 08:20] #38 closed

[2021-11-21 10:52] #24 closed

[2021-11-25 14:17] edinsoncs opened #44 "formatResult return more data in the search"
Hello community, is it possible to return the name + category + date + ..keys in the view?

[2021-11-27 00:24] sickdyd commented on #44
Hello @edinsoncs! Could you please add more details about what you are trying to achieve? What do you mean with "in the view"?  The `onSearch` callback returns the full item selected. If possible create a [codesandbox](https://codesandbox.io/) with the code to make it easier to help you out.

[2021-12-05 07:12] Raza410 commented on #26
Is this feature available now?

[2021-12-12 00:53] sickdyd commented on #42
Closed because unable to understand request and no more info were provided.

[2021-12-12 00:53] #42 closed

[2022-01-03 01:56] bismarck4lves opened #45 "Show list on click at input"
In the Documentation, we have a variable items with the values that will be presented when typing.
Since we have these values, it would be interesting to show these preloaded values when clicking on the input. Is it possible to do that?

[2022-01-08 15:36] harvester-klirk opened #46 "Encountered two children with the same key, `rsa-result-undefined`"
Hi guys !
Thank you for the good work
Would you please add a key in the ui in Results competent thank you !

[2022-01-15 21:05] glowdex commented on #30
hi! I would like to do this too. I can fork and change as discussed above but I was wondering if it's possible to add it as an option for the function (whether you want the full results)?

[2022-02-05 07:31] lavarajallu opened #47 "How can we apply enter keyword Search"
If I use the method like

 <ReactSearchAutocomplete
            items={items}
            onSearch={handleOnSearch}
            onHover={handleOnHover}
            onSelect={handleOnSelect}
            onFocus={handleOnFocus}
            onKeyUp={handleKeyUp}
            onClear={handleClear}
            autoFocus
            formatResult={formatResult}
          />

 const handleKeyUp = (e) => {

[2022-02-06 23:07] PunkSage commented on #46
The key property is already provided. Make sure that each element of dataset contains a unique 'id' property.

[2022-02-06 23:08] PunkSage commented on #47
Can you please describe the problem in more depth? Currently it's hard to understand what are you trying to achieve.

[2022-02-06 23:28] PunkSage commented on #45
I don't think it is possible with the current code. I can fork this repository and think about it.

[2022-02-06 23:39] PunkSage commented on #44
@sickdyd I spent some time with your code and run into the exactly a same problem.

Let's imagine that you have a list of elements that you want to search through with your autocomplete component.

const items = [
    {
        id: 1,
        displayName: 'Option A',
        uuid: '66236926-0b7a-4970-a475-0de4a2b8a9a3'
    }, {
        id: 2,
        displayName: 'Option B',
        uuid: 'efee70f

[2022-02-12 01:59] sickdyd commented on #44
@edinsoncs @PunkSage Thank you for your request and explanation. I added this feature, it's now possible to format the results. I added an example on the demo (last one): https://sickdyd.github.io/react-search-autocomplete/

[2022-02-12 02:10] sickdyd commented on #46
@harvester-klirk I added this feature in the latest version. Check the last example in the demo: https://sickdyd.github.io/react-search-autocomplete/

[2022-02-16 19:48] mkb0091 commented on #47
I believe that this user is trying to get the text from the input when the user clicks "enter". If they do not explicitly select an option from the list, he still wants to be able to access the text contained in the search bar. I am also curious if this functionality exists.

[2022-02-19 03:55] sickdyd commented on #36
@Eclipseop TS was implemented in version 6.0.0!

[2022-02-23 11:48] rcookerly opened #49 "Filtering isn't working correctly when you type the letter 'A'"
First of all, thanks so much for react-search-autocomplete! It works great except when I type the letter 'A'. I have 8 products in my database that start with 'A'. I have maxResults set to 5. Yet I'm only getting 3 products that start with 'A'. I'm getting one that starts with 'J' and one that starts with 'S'. A small bug somewhere. Anyways, no biggie...just wanted to let you know.

[2022-02-28 06:53] PyiTheinKyaw commented on #49
I face some kinda of issues, I have two products with 'ST1' and 'ST2' id.
When I search by products id like 'ST1', It also show 'ST1' and also 'ST2'.

[2022-02-28 07:09] yanffz opened #50 "How to change the items based on the search string and call the API?"
Hi,

I will need to change the items based on the search string and call the API. For example, when I type "cof", I will need to pass the search string "cof" to an API and get the results from the API and set the results to items. When I type "cha", I will need to pass the search string "cha" to an API and get the results from the API and set the results to items.

May I know how to do it? Thanks!

[2022-03-07 12:42] sickdyd commented on #49
@rcookerly @PyiTheinKyaw This is probably related to the options that are passed to Fuse.js.

You can pass custom options to decide how results are shown. Check out [their docs](https://fusejs.io/api/options.html).

This is how you pass it to `ReactSearchAutocomplete`:

  // To know more about fuse params, visit https://fusejs.io/
  //
  // By default set to:
  // {
  //   shouldSort: true,
  //

[2022-03-07 12:59] sickdyd commented on #50
@yanffz Hello!
All you need to do is to add a handler for `onSearch` where you use something like `fetch` to send the request to the API and then pass the new items to RSA. A rough example:

[code]

Said that, what does the first API call do? Is it searching for a string? If so, you are basically sending a search query to an endpoint, getting some results, putting them in RSA then searching again

[2022-03-07 13:01] sickdyd commented on #47
Closed because workaround exists: https://github.com/sickdyd/react-search-autocomplete/issues/38

[2022-03-07 13:01] #47 closed

[2022-03-08 11:11] rcookerly commented on #49
@sickdyd,

Thanks for the info. I'm finished with my school project, so I'm not too worried about it anymore. If I were to guess, the bug is not on Fuse's end though. Worked perfectly for every letter except 'A'. Just thought I'd let you know. Appreciate the response.

[2022-03-16 22:45] choyzer opened #51 "AutoComplete list is not working if type is not {id,name}"
Try to change the Type to:

[code]

`<ReactSearchAutocomplete<Item>/>`

Put items with new format

[code]

The  autoComplete  is not working

[2022-03-19 12:58] sickdyd commented on #51
@choyzer You will need also an `id` field. Try to set that one up and see if it works.

[2022-03-20 23:05] sickdyd commented on #51
@choyzer Update: you actually have 2 problems:
1. you need to add an `id` field for each element
2. your item does not have the default search `name` field, this means that you will need to specify where to search, for example:
[code]

[2022-03-21 09:15] #51 closed

[2022-03-21 09:17] #50 closed

[2022-03-24 02:51] rcookerly commented on #49
Here is a sample of our products in our database.

<img width="412" alt="Screen Shot 2022-03-23 at 7 50 14 PM" src="https://user-images.githubusercontent.com/1072872/159832298-e730e7ec-8f5d-4142-823c-a559e71e2f89.png">

[2022-03-24 15:27] ggogel commented on #49
I'm facing the same issue. Let's say I have two items: `Alexander` and `Alexandra`. When I search for `Alexandra` it also shows `Alexander`. Of course, the rating of `Alexandra` is higher but it should not show `Alexander` at all. It seems like it is not searching for consecutive strings but rather matching each character individually. The search result with the most matches will be on top. Though

[2022-03-24 15:46] ggogel commented on #49
Never mind, I've set the `threshold` value to `0.2`, and the results are less fuzzy.

[2022-03-24 19:28] ggogel opened #53 "Using showClear causes TypeError when selecting result"
Hello,

I'm currently trying to implement this module in a react project with typescript. Whenever `showClear` is set to `true`, it breaks the functionality of the module. When I click on a search result the following error is thrown:

[code]
This causes the whole app to crash.

The clear button itself works fine, though.

[2022-03-26 03:34] sickdyd commented on #53
@ggogel Hello,

can you please provide an example with the issue? I'm unable to reproduce it.

Cheers!

[2022-03-26 04:23] sickdyd commented on #26
@vividrizwan @Raza410 RSA `v6.1.1` supports key navigation!

[2022-03-26 04:23] #26 closed

[2022-03-26 04:24] sickdyd commented on #28
@minhok1 RSA `v6.1.1` supports key navigation! And the first element is automatically selected.

[2022-03-26 04:24] #28 closed

[2022-03-26 04:29] sickdyd commented on #49
@rcookerly Thanks for the list, a textual version would be a bit more helpful though!

About this, did you actually check that Fuse works as you expect (when using the same settings of RSA)?

As @ggogel's post suggests, I think it's all about the way Fuse handles the results. I just pass the string and the items to Fuse and show the results that it returns, I don't manually filter items myself.

[2022-03-26 06:08] rcookerly commented on #49
@sickdyd, Honestly...no, I didn't check that. I'm still in school, so I'm really new to web development. I'm sure I probably did something wrong. It was just weird that every letter worked perfectly, except words that started with the letter 'A'. I appreciate you trying to help! It was a small 2-week project that I was working on and done with it now.

[2022-03-26 09:06] ggogel commented on #53
Here is the code of my component:

[code]
The type UserInfo:
[code]

I already tried to remove `inputSearchString={searchString}`, which did not help either. As soon as I set `showClear={true}`, it breaks the select functionality.

[2022-03-29 14:38] pankajchandorkar opened #56 "On Focus Default Item Should Be Display"
I want to show default item list on focus. Is it possible ?

[2022-04-12 07:36] beinoriusju opened #57 "ENTER key gives errror"
Without typing anything just focusing on component's input and hitting ENTER key gives me an error:

**TypeError: results[highlightedItem] is undefined**

Component should not assume results is non-emty array.

[2022-04-12 16:35] alamgir8 commented on #57
Hey, I just check with version @6.0.0, and it's working fine, not giving any error now!. I think the problem is with the latest version. You can check with this version : npm i react-search-autocomplete@6.0.0

[2022-04-13 00:38] sickdyd commented on #57
@beinoriusju @alamgir8 Thanks for reporting this, I will look into it over the weekend.

[2022-04-15 09:50] sleepybjr opened #58 "Using <form> onSubmit and trying to clear input leaves search box open"
I wanted to use the form and use Enter to save information as well as clicking, then clear the input for the user to enter more information. I referenced #23 and #38 to do this. However, the dropdown search box remains open. Is there a workaround to trigger the OnBlur event or empty the Results array so the box will clear when you set the input using setState?

See below for example:
https://codes

[2022-04-15 09:55] sickdyd commented on #58
@sleepybjr Could you tell me the steps to reproduce, please?

[2022-04-15 10:23] philipp985 opened #59 "Consider removing onMouseDown"
Hi,
thank you for the work and the good library.
I have one improvement to suggest. Is it possible to remvoe the onMouseDonw here https://github.com/sickdyd/react-search-autocomplete/blob/master/src/components/Results.tsx#L54
Because with mouse down you also select via every other click then a normal left click. I think this is not intuitive.
I don't know if this would have any side effects but I

[2022-04-15 10:36] sleepybjr commented on #58
In the environment I linked,

1) Type "J".
2) Hit "enter". Suggestion box will show up with "JavaScript" and "Java".
3) "J" will be cleared but suggestion box remains.

Using setState will clear the text field, but it won't remove the suggestion box unless the user clicks somewhere to get onBlur called or types to get onChange called.

[2022-04-23 05:55] sickdyd commented on #57
@beinoriusju @alamgir8 This problem has been fixed in version `6.1.2`, please check it out!

[2022-04-23 05:55] #57 closed

[2022-04-23 05:55] sickdyd commented on #58
@sleepybjr You are using a fairly old version (`5.2.2`), I could not see the issue with the latest one (`6.1.2`).

[2022-04-23 05:55] #58 closed

[2022-04-23 05:56] sickdyd commented on #59
@philipp985 I removed `onMouseDown` since it was redundant. Please try the new version `6.1.2`.

[2022-04-23 05:56] sickdyd commented on #53
@ggogel Sorry, could you make a codesandbox with the example and steps to reproduce? Thanks!

[2022-04-23 11:59] sickdyd commented on #49
I'll close this for now!

[2022-04-23 11:59] #49 closed

[2022-04-23 20:24] philipp985 commented on #59
Hi @sickdyd thanks!
I think it more like what a normal user would expect.
For my current implementation where I am rendering a link in the dropdown I would like to right click to open the link in a new tab. But that might be a special edge case. Also I dont know how this could be solved. Maybe make the onClick event overwriteable?
But anyhow that's not an urgent topic.

[2022-04-24 00:10] sickdyd commented on #59
@philipp985 That ccould be implemented with a prop `onRighClick` that is used in case the right mouse button is used. Shouldn't bee to hard to implement. I'll add it when I have some time.

[2022-04-26 16:48] philipp985 commented on #59
Hi,
sorry to bug you again. But with the latest version 6.1.2 the selection via mouse is not working anymore. It is only possible to select via keyboard enter. I took a quick glance at the changes. I don't know why it happens. If I am not wrong your example page has the same problem.

[2022-04-28 00:59] sickdyd commented on #59
@philipp985 Wow... I missed that. Thank you for reporting it! I reverted the commit. I'll look into it as soon as I have time.

[2022-04-29 02:04] Radwisatso opened #60 "Custom formatResult, is it possible?"
Hi dev, I'm still trying to figure out how to make a custom formatResult with your library. I've attached the example below. Please let me know if it's possible to do

Thanks!

![image](https://user-images.githubusercontent.com/85424069/165874748-c2f11395-43f0-4a3d-9f32-917a50c34a6f.png)

[2022-04-29 02:35] Radwisatso commented on #60
@sickdyd

[2022-04-30 04:37] gofri commented on #60
It doesn't seem to be ready for a header:
[code]

 The class names are auto-generated, so it makes it a bit tricky to hack it with CSS too.

[2022-04-30 07:48] gofri opened #61 "README improvement - id is mandatory"
I recommend adding to the README that id is a mandatory field (otherwise there's a React bug due to key-field conflicts).
p.s. awesome gadget! easy to setup and works great

[2022-05-03 16:07] raikk commented on #3
@sickdyd I have same issue here. Even I wrapped in div with zIndex 4, still can't. See this, please suggest where to make able to modify styling of this module??
<img width="674" alt="Screenshot 2022-05-03 at 9 32 35 PM" src="https://user-images.githubusercontent.com/12422925/166491725-c5b177ee-cdf8-4bf8-8d88-5fdd4beda0b9.png">

[2022-05-03 16:22] raikk commented on #3
Ohh... got it. We have to use `styling`

[code]

[2022-05-15 13:48] redimongo opened #62 "axios - autocomplete"
I am wondering how do I make the list be able to be from a axios request?

I found out the hard way that you can't do this
[code]

[2022-05-17 13:48] KishoreKumar18 opened #63 "Search results dropdown is transparent"
Is there a way where we can set the background color, height, width for the Search results container? In my code, the background of the dropdown container is transparent. Hence, I could see the below fields overlapping with the dropdown. I was able to set the styling for each items using formatResult prop but could not handle the container. Also, wondering whether the zIndex might have something t

[2022-05-20 20:15] NoamYodfat opened #64 "There is a typo in this line: function name typo"
https://github.com/sickdyd/react-search-autocomplete/blob/c05972e5d56d913b7cecb3be5d3d5850498428c8/src/components/ReactSearchAutocomplete.tsx#L107

[2022-05-24 05:40] bmilan786 opened #66 "The form is submitted when the Enter key is pressed in the search bar"
The form is submitted when the Enter key is pressed in the search bar

[2022-05-30 20:27] OmniscienceAcademy opened #67 "handleOnSearch is unclear"
handleOnSearch is unclear. We do not understand what the result parameter is used for

    // onSearch will have as the first callback parameter
    // the string searched and for the second the results. <-- What does this mean?

I do not understand what you mean by results. Thanks

[2022-05-31 00:04] OmniscienceAcademy opened #68 "enter key not working"
``**Describe the bug**
When suggestions appear, and clicking away, to make the suggestion disappears, if I click in the search bar and press enter nothing happens

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to [this site](https://front-git-dev-omniscienceacademy.vercel.app/)
2. Click on the search bar and type Hello World.
3. Click away from to make the suggestions disappear
4. Click

[2022-05-31 00:40] sickdyd commented on #68
@OmniscienceAcademy Hello! This is how it's supposed to work. The search happens when you are typing and return is used to select one of the results. If you hide the results and hit return nothing will happen.

[2022-05-31 00:42] sickdyd commented on #67
@OmniscienceAcademy `onSearch` is called every time you type text. Every time you type there are potential `results`, those are returned along with the string searched. It could be an empty array if there are no results from the string searched. Let me know if this helps.

[2022-05-31 08:19] OmniscienceAcademy commented on #68
Ah, this is annoying. Because the true search takes a lot of time, even if I can generate suggestions pretty quickly.

I want to do the true search if and only if the user press enter or click on the icon. But If I understand correctly, this is not possible right now?

[2022-06-05 11:50] sickdyd commented on #68
@OmniscienceAcademy Yes, you are correct, it's not possible at the moment.

[2022-06-05 11:50] sickdyd commented on #67
I hope the above answer resolves the issue. I will close this for now.

[2022-06-05 11:50] #67 closed

[2022-06-05 11:53] sickdyd commented on #63
@KishoreKumar18 It looks like there's some problem with the z-index. Could you provide a codesandbox example with the issue? It would make it easier to try to fix.

[2022-06-05 12:00] sickdyd commented on #62
@redimongo Can you please make a codesandbox example?

[2022-06-06 03:35] sickdyd commented on #61
@gofri Thanks for reporting this. Added in this commit: https://github.com/sickdyd/react-search-autocomplete/commit/ffb1ee0017df6440e8acec602fc726f200bcd067

[2022-06-06 03:35] #61 closed

[2022-06-09 00:03] sickdyd commented on #41
@Chinmaypattar I added the option in version `7.0.0`. It is enabled by default, so you can see it already in the demo version: https://sickdyd.github.io/react-search-autocomplete/

More info about the feature in the props section of the readme (the last entries).

[2022-06-09 00:03] #41 closed

[2022-06-09 00:03] sickdyd commented on #53
@ggogel I could not reproduce, but I added a check that should solve this issue. Try the version `7.0.0` and see if the problems is solved.

[2022-06-09 00:03] #53 closed

[2022-06-09 00:56] sickdyd commented on #45
@bismarck4lves @PunkSage I added the feature in version `7.1.0`, to enable it you will need to pass this prop as true:

[code]

[2022-06-09 00:56] #45 closed

[2022-06-09 00:57] sickdyd commented on #56
@pankajchandorkar I added the feature in version `7.1.0`, to enable it you will need to pass this prop as true:

[code]

[2022-06-09 00:57] #56 closed

[2022-06-09 02:09] sickdyd commented on #59
@philipp985 I deployed another version that should work as expected and allows to use the right click on the results. Try version `7.2.0`. Cheers!

[2022-06-09 02:09] #59 closed

[2022-06-09 02:11] sickdyd commented on #64
@NoamYodfat Fixed with the linked PR

[2022-06-09 02:11] #64 closed

[2022-06-09 04:12] sickdyd commented on #68
@OmniscienceAcademy I could add a flag like `alwaysDisplayResults` that will prevent the list of results from disappearing. How does that sound?

[2022-06-09 04:12] sickdyd commented on #66
@bmilan786 Could you please provide an example on codesandbox?

[2022-06-13 12:32] philipp985 commented on #59
Hi @sickdyd thanks a lot right click works now, perfect! But I am using the library with TS and webpack. And now vs code complains that
Could not find a declaration file for module 'react-search-autocomplete'. 'C:/Users/xxx/node_modules/react-search-autocomplete/dist/index.js' implicitly has an 'any' type.

Any idea why? I looked at the changes but couldn't find anything related to that.

[2022-06-16 11:02] fidellr opened #69 "Library seems not supported to be used in ts project, no declaration module."
**Describe the bug**
Not supporting ts project, no declaration module was provided by the library, and block development to use inside ts project

**Codesandbox example**
Create a [codesandbox](https://codesandbox.io/) example with the problem you would like to have solved.

**To Reproduce**
Steps to reproduce the behavior:
1. Install library with yarn
2. Import inside tsx file
3. See error ```Cou

[2022-06-20 19:33] gignupg commented on #69
Same issue here!

[2022-06-20 19:45] gignupg commented on #36
@sickdyd TS stopped working since version 7.0.0! You can also see this on NPM. Since version 7.0.0 the TS icon is missing:

![Screenshot from 2022-06-20 21-41-51](https://user-images.githubusercontent.com/52784332/174668768-9ca35641-83ea-4dc2-88e2-be7eda61f877.png)

![Screenshot from 2022-06-20 21-44-00](https://user-images.githubusercontent.com/52784332/174668794-efa1cf90-a188-4944-99dd-46c6e2770

[2022-06-23 23:19] sickdyd commented on #69
@fidellr Thank you for reporting this issue! I will try to take a look at it over the weekend.

[2022-06-23 23:39] enesmozer commented on #62
I have faced the similar issue. I want to send request to an api when input value change but i couldnt find any onChange event. Is there any way to search with async data ?

[2022-06-25 00:33] sickdyd commented on #69
@fidellr @gignupg I fixed the issue, install the latest version and it should work as expected!

https://github.com/sickdyd/react-search-autocomplete/commit/2f2b253201529e8be8e4602548df7330b8c65192

[2022-06-25 00:33] #69 closed

[2022-06-25 00:34] sickdyd commented on #68
Closed because the request had no reply and it seems a very specific issue.

[2022-06-25 00:34] #68 closed

[2022-06-25 05:11] sickdyd commented on #36
@gignupg Fixed in the latest release!

[2022-06-25 05:13] sickdyd commented on #59
@philipp985 I fixed this problem in the latest release!

[2022-06-25 18:59] defser opened #70 "No search results when using inputSearchString"
**Describe the bug**
When i use the option inputSearchString to prefill the searchbox i expect that it will display search results, i did not find a option to enable this and did try to make it word programmatically but i cannot get it to search de prefilled query

**Codesandbox example**
[Create a [codesandbox](https://codesandbox.io/) example with the problem you would like to have solved.](http

[2022-06-25 19:00] defser commented on #70
It would be sufficient if there is a working workaround at this moment.

[2022-06-28 01:54] OscarJVD opened #71 "I'd like to choose searcher icon"
I'd like to choose searcher icon

[2022-06-29 11:38] Rahulgarg30591 opened #72 "What is the way to check that the Search is empty after backspace clicks not by Clear?"
Unable to trigger an event in a case when the Search String is all empty as the _onSearch_ event is not triggering on the removal of the last character.

Similar to: https://github.com/sickdyd/react-search-autocomplete/issues/17#issuecomment-831743898

I need to verify whether the textbox is empty or not as part of validation.

Thank you,

[2022-06-29 22:53] simon3073 opened #73 "Not able to install package with latest REACT CRA"
**Describe the bug**
Not able to install package after setting up React CRA. After installing (using --force or --legacy-peer-deps) not able to build project via Netlify.

**Package.json**
[code]

**Error on install**
[code]

Have tried downgrading to version 17.0.2 of React, but still not able to install without --force or --legacy-peer-deps.

[2022-06-30 02:41] simon3073 commented on #73
Resolved: Added an Environmental variable in Netlify
'NPM_FLAGS' : '--legacy-peer-deps'
Build succeeded

[https://stackoverflow.com/questions/69351433/i-am-trying-to-host-my-react-website-on-netlify-but-there-is-a-npm-install-error](https://stackoverflow.com/questions/69351433/i-am-trying-to-host-my-react-website-on-netlify-but-there-is-a-npm-install-error)

[2022-06-30 02:41] #73 closed

[2022-06-30 14:47] pedromaironi opened #74 "I want to learn how i can create an global or reusable style for the component"
- So. i love this library and how u can see, i don't want repeat that styling in each component
[code]

[2022-07-02 06:11] pedromaironi opened #75 "Question: I would like to know how to differentiate several <ReactSearchAutocomplete /> in a single component"
I have several inputs inside a form. 3 of them are react-search-autocomplete. So, I had the question how I could identify each combobox. If with an id or a name...
I don't want to have to create an OnHandleSearch for <autocomplete /> that I have created on 5 or 10 forms

[code]

![image](https://user-images.githubusercontent.com/43529059/176988850-b7be9cbf-468e-4485-8c32-6ec908dbc09a.png)

Thank u

[2022-07-02 06:12] pedromaironi commented on #75
Black:  <ReactSearchAutocomplete />
Blue: Simple input

[2022-07-02 06:16] pedromaironi opened #76 "I would like to know how create a global Styling prop for the component"
<ReactSearchAutocomplete
                      items={products}
                      showIcon={false}
                      onSelect={handleOnSelect}
                      autoFocus={true}
                      styling={{
                        outline: "none",
                        fontWeight: "500",
                        fontSize: "0.9rem",
                        color: "black",

[2022-07-04 10:51] enzomarzo opened #77 "the includeMatches of fuseOptions is not working"
**Describe the bug**
I am trying to use the includeMatches from the fuseOptions for highlight purpose and it's not appearing on the result set.

**Codesandbox example**
[code]

**Expected behavior**
The console.log (for both onSearch and for formatResult) only show me the item and does not show me the **matches** object. I believe when I set it to true it should bring the matches: {indices, key, v

[2022-07-05 19:16] agustinlaurito opened #78 "How to customize pointer when hovering over results"
Hello, im trying to customize the cursor when hovering over the results bar. I tried using cursor: pointer in the style prop but didnt worked. Anybody knows how to? This is my style object.

`const styling = {
  fontFamily: 'Poppins, sans-serif',
  fontSize: '1rem',
  height: '2.5rem',
  hoverBackgroundColor: '#eaf8bf',
  cursor: 'pointer',
  display: 'flex',
  position: 'relative',
  alignItems:

[2022-07-09 18:19] dankcellar commented on #76
It would be great if I could remove all style and let Bulma style it for me

[2022-07-12 12:58] hellopaidco opened #79 "Fetching items when onFocus?"
Due to a large amount of items, I'm fetching them when onFocus is called. Is this advisable?

Thanks!

[2022-07-13 19:03] pkgitlab opened #80 "Search should not autoselect item from drop down list"
We need a search where the autosuggestion may or may not be used by user.  So we want to select nothing unless the user has clicked on a suggestion . Otherwise what the user has typed in textbox is the search term.  It seems like with the sample code when we press enter while typing something is picked from drop down list and used for search.  How can we implement the search box like we see on Goo

[2022-07-14 09:48] djaffer commented on #77
same I am stuck on this too.

[2022-07-14 16:33] #78 closed

[2022-07-15 03:14] djaffer opened #81 "Warning Error for Key Undefined"
Getting warning in the console for key to be undefined.

![image](https://user-images.githubusercontent.com/5740725/179142576-211d78bf-e195-470f-b27f-8bd1d9d94c2b.png)

[code]

[2022-07-15 20:01] #81 closed

[2022-07-31 00:06] rserafim commented on #72
Same!

[2022-08-10 11:07] varsha-M-I opened #83 "How to use ReactSearchAutocomplete with formik and yup"
**Describe the bug**
A clear and concise description of what the bug is.
I want to use ReactSearchAutocomplete with formik and yup how to validate with yup and how to render the component as children of form field.

Package.json
{
  "name": "react",
  "version": "1.0.0",
  "description": "React example starter project",
  "keywords": [
    "react",
    "starter"
  ],
  "main": "src/index.js",
  "d

[2022-08-10 19:45] deuxailes opened #84 "Any way we can change the icon?"
Title

[2022-08-11 19:13] varsha-M-I commented on #84
You should set showIcon={false} then in formatResult you can add your desired Icons. I have created an example please refer this code sandbox example. Hope this will help !!!!

[https://codesandbox.io/s/vigorous-lake-sq2xvh?file=/src/App.js](url)

[2022-09-15 17:32] sowmya2000-git opened #86 "disable and onpaste attributes issue"
Hii,
My concern is how to use disabled and onpaste attributes or events like we used for input elements,  is there is any way to use those events in react search autocomplete because I want to restrict the copy paste the special characters in react search autocomplete for that we have to use onpaste event,how to achieve this? can you please explain me?

[2022-09-15 17:50] sowmya2000-git commented on #86
hii, I am expecting a fast reply because we r using your  npm in our project so it's a emergency so I hope u figure out a quick solution for me , thanks in advance

[2022-09-23 21:06] sickdyd commented on #62
@redimongo @enesmozer

I think what you guys want to do is resolved in this comment: https://github.com/sickdyd/react-search-autocomplete/issues/50

I'll close this for now, but if you have still problems please create a codesandbox example.

[2022-09-23 21:06] #62 closed

[2022-09-23 21:07] sickdyd commented on #63
Closing because I assume that the `zIndex` change fixed the problem.

[2022-09-23 21:07] #63 closed

[2022-09-23 23:49] sickdyd commented on #66
@bmilan786 Fixed in version `8.0.0`

[2022-09-23 23:49] #66 closed

[2022-09-23 23:49] sickdyd commented on #70
@defser Hello! Fixed in version `8.0.0`!

[2022-09-23 23:49] #70 closed

[2022-09-23 23:50] sickdyd commented on #79
@hellopaidco I can't think of a reason why this could be an issue. If it works for you, why not!

[2022-09-23 23:50] #79 closed

[2022-09-23 23:51] sickdyd commented on #73
Added support for React 18 in version `8.0.0`

[2022-09-24 23:59] sickdyd commented on #72
@Rahulgarg30591 @rserafim Did you try with the lastest version?

I can see that `onSearch` is triggered also when the last character is removed. Check this [codesandbox](https://codesandbox.io/s/nervous-turing-24pzhs?file=/src/App.js).

[2022-09-25 00:01] #72 closed

[2022-09-25 00:03] sickdyd commented on #74
@pedromaironi

You can create an object like:
[code]

Then pass it to the component:
[code]

[2022-09-25 00:04] #74 closed

[2022-09-25 00:06] sickdyd commented on #75
Sorry, multiple search boxes in one page are not yet supported, there could be some issues.

[2022-09-25 00:08] sickdyd commented on #76
@pedromaironi

Please do not create duplicate issues, I answered this in the previous issue: https://github.com/sickdyd/react-search-autocomplete/issues/74#issuecomment-1257086542

[2022-09-25 00:08] #76 closed

[2022-09-25 00:10] #75 closed

[2022-09-25 00:38] sickdyd commented on #77
@enzomarzo @djaffer

Unfortunately Fuse is just used to do the filtering, but things like `includeMatches` will not work (and probably other similar options). If you take a look at the code used by rsa you can see that it just ignores everything except results:

[code]

[2022-09-25 00:42] sickdyd commented on #80
Wow, that is definitely a bug that sneaked in somehow. Looking into it.

[2022-09-27 09:24] hadrian625 opened #87 "Setting the maxlength on the autocomplete input"
Would it be possible to set the maxlength property on the html input element?
This would be useful for to prevent user to type too many characters when the application would want to get the free entered text by the user as data to be saved. This would eliminate the need to have a maxlength validation

[2022-10-07 10:47] SagarDhyani opened #88 "Not able to change hover text"
**Describe the bug**
Not able to change hover text

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
![image](https://user-images.githubusercontent.com/87421774/194536104-25c07671-b243-446f-86f0-218973553839.png)

Here in your demo, If I want to change the hover text. For example I want to show description text instead of the name. Is it doable?

2. Click on '....'
3. Scroll down t

[2022-10-18 02:44] pedromaironi commented on #74
Thank u, sorry for answer too late.

[2022-10-28 07:46] kvssankar opened #89 "Not working at all"
![image](https://user-images.githubusercontent.com/55633494/198532906-94776ba3-4439-408e-9dc5-ce40d8ae0b88.png)
just copy pasted ur code

[2022-10-28 07:48] #89 closed

[2022-11-06 05:16] parmarravi opened #90 "Text Align with style property"
I want to align the text to **auto** or **center** but the text default alignment is set to **align-self: flex-end**;  How to change this property with style prop?
![Screenshot from 2022-11-06 10-37-10](https://user-images.githubusercontent.com/7616089/200155297-fea24cf7-8a08-46cd-92d1-5bbd4b6ff81b.png)
![Screenshot from 2022-11-06 10-37-19](https://user-images.githubusercontent.com/7616089/200155

[2022-11-07 11:30] parmarravi commented on #68
alwaysDisplayResults please add this it make sense in the case from api hit @sickdyd

[2022-11-20 14:01] sickdyd commented on #80
Fixed in the latest version!

[2022-11-20 14:01] #80 closed

[2022-11-20 20:32] Boris-Scharinger opened #92 "How about adding classNames"
Hi sickdyd, wonderful stuff!!
One suggestion to improve the way we can leverage (S)CSS: How about an attribute to add a className to the search input field?

[2022-11-26 16:36] YuvantBesre opened #94 "How to clear the value Programmatically ?"
How to clear the value of the input box with the help of code ? Isn't there any function exposed ? There is nothing in the docs as well.

[2022-11-26 19:33] AlwaysBuyCheap opened #95 "Styles dont build up on next.js precompile"
When using the component in next.js. On the precompile it doesnt build up the styles and it appears as a generic html input.

[2022-11-30 13:57] webstar opened #96 "Keep the search string the user entered in the search box onSelect."
Hi there, currently when a user selects an item from the list of results the search input changes to reflect the name (or specified key) of the result item. I would prefer if it kept the user input in the search box.

I tried to accomplish this by updating the search string string via a state variable, but for whatever reason it refuses to change. I can set it to a empty string just fine OnSelect,